/* 
    Document   : home
    Created on : 17-03-2012, 07:56:29 PM
    Author     : Gusano
    Description:
        Purpose of the stylesheet follows.
        */

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
   */

   root { 
    display: block;
}
html,body{
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
    background-image: linear-gradient(bottom, rgb(93,134,35) 19%, rgb(134,194,50) 54%);
    background-image: -o-linear-gradient(bottom, rgb(93,134,35) 19%, rgb(134,194,50) 54%);
    background-image: -moz-linear-gradient(bottom, rgb(93,134,35) 19%, rgb(134,194,50) 54%);
    background-image: -webkit-linear-gradient(bottom, rgb(93,134,35) 19%, rgb(134,194,50) 54%);
    background-image: -ms-linear-gradient(bottom, rgb(93,134,35) 19%, rgb(134,194,50) 54%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.19, rgb(93,134,35)),
        color-stop(0.54, rgb(134,194,50))
        );
    font-size: 15px;
}

.wrapp{
    position:relative;
}

.slideshow{

    width: 100%;
    height: 150px;
    overflow: hidden;
    padding: 0px;
    clear:both;}

    .slideshow img{
        height: 150px;
        margin: 0px;
        border: 0px;
        clear:both;

    }
    .leftMenu,.rightMenu{
        margin: 0;
        padding: 0;
        position: absolute;
        top:155px;
        width: 18%;

    }
    .leftMenu{
        left: 0px;
    }
    .rightMenu{
        right: 0;
    }

    .leftMenu ul, .rightMenu ul{
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
    }


    .leftMenu ul li, .rightMenu ul li{
        margin: 0;
        padding: 0;
        display: block;
        list-style: none;
        height: 20px;
        width: 100%;
        border-bottom: solid white 1px;
        background-color: #5c8623;
    }
/*
.leftMenu ul li{ border-right: solid white 1px;}
.rightMenu ul li{ border-left: solid white 1px;}
*/
.leftMenu ul li a, .rightMenu ul li a{
    margin: 0;
    text-decoration: none;
    color: white;
    height: 20px;
    width: 100%;
    display: block;
    text-indent: 20px;
}
.rightMenu ul li a{
    
}

.leftMenu ul li a:hover, .rightMenu ul li a:hover{
    background-color: white;
    color:#85C232;
}

.rightMenu ul ul {
    display:none;
}

.content{
    margin-top: 10px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 20px ! important;
    padding-bottom: 20px ! important;
    border: 0;
    padding: 0;
    padding-left: 5px;
    background: #5c8623;
    display: block;
    border-radius:10px;


}
.texto div{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.slide li a{
    background: #85C232;
    border-bottom: white dashed 1px ! important;
}